body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'VT323', monospace;
}

body,
.snake{
    background-color: #414141;
}

.score-panel{
    display: flex;
    justify-content: space-between;
}

.score-text{
    font-size: 40px;
    font-weight: bolder;
    margin: 10px 0;
}

#current-score{
    color:#abb78a
}

#high-score{
    color: #d8ddca
}

#game-board{
    border-radius: 100px;
    display: grid;
    grid-template-columns: repeat(20, 20px);
    grid-template-rows: repeat(20, 20px);
    margin: 5px;
}

.game-border-1{
    border: #595f43 solid 10px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 10px #595f43;
}

.game-border-2{
    border: #abb78a solid 8px;
    border-radius: 26px;
    box-shadow: inset 0 0 0 10px #abb78a;
}

.game-border-3{
    border: #8b966c solid 30px;
    border-radius: 20px;
    box-shadow: inset 0 0 0 5px #8b966c;
    background-color: #c4cfa3;
}

.snake{
    background-color: #414141;
    border: #5a5a5a 5px dotted;
    /* border-left: #949494 solid;
    border-right: #949494 solid; */
}

.food{
    background-color: #dedede;
    border: #999 5px solid;
}

#instruction{
    display: block;
    color: #d8ddca;
    font-size: 30px;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin: 0;
}